.add-order-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-order-text {
    margin: 50px;
    color: $white !important;
}

.order-form-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
}

.order-form-form {
    width: 80%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px white;
    border-radius: 10px;
    background-color: white;
}

.fields--date {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.order-form-fields {
    align-items: center;
    margin: 20px;
    width: 33%;
    flex-direction: column;
    justify-content: space-around
}

.order-form-date {
    align-items: center;
    margin: 20px;
}

.order-form-map {
    align-items: center;
    width: 100%;
    border: solid 1px $font-color-base;
    border-radius: 10px;
    margin-bottom: 10px;
}