.admin-dashboard-panel {
    text-align: center;
    color: white
}

.admin-nav-component {
    cursor: pointer;
    width: 100%;
    // color: white !important;
    opacity: 1;
}

.admin-nav-component:hover {
    color: $color-yellow-dark;
    border-bottom: solid 1px $white;
    // opacity: 0.7;
    transform: scale(1.1);
}

.admin-nav-menu-component {
    background-color: $white;
    width: 220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 10px $color-red-lighter;
    padding: 3px;
}

.admin-nav-menu-component a {
    opacity: 1;
    padding: 10px;
    border-bottom: solid 1px $color-red-dark;
    font-size: 10px;
    font-weight: $font-weight-light;
    &:hover {
        color: $color-yellow-dark;
        border-bottom: solid 1px $color-yellow-dark;
        opacity: 0.7;
    }
    color:black;
}