.dashboard-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.dashboard {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.dash-header {
    padding-top: 15px;
    text-align: center;
}

.top-menu-custom {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-bottom: 30px;
    height: 90px;
}

.drawer {
    position: relative;
    top: 0;
    left: 0;
    width: 20%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-grow: 1;
    padding-left: 20%;
    padding-right: 20%;
    height: 50px;
    background: $white;
    text-align: center;
    box-shadow: 0px 0px 10px $color-red-lighter;
}

.drawer span {
    display: flex;
    justify-content: space-around;
    width: 80px;
}

.slide {
    width: 100%;
    display: flex;
    justify-content: center;
}

.privilages-container {
    width: 80%;
    display: flex;
    justify-content: center;
}

.privilage-toggles {
    padding: 10px;
    width: 50%;
    box-shadow: 0 0 15px white;
    border-radius: 10px;
    background-color: white;
}