.driver-container {
    width: 100%;
    max-width: 100%;
}

.slider {
    width: 100%;
    @media screen and (max-width: 600px) {
        width: 80%;
        padding: 30px;
    }
    p {
        color: unset !important;
    }
}

.slider-circle {
    text-align: center
}

.order-card {
    width: 100%;
    max-width: 100%;
}