.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    background-color: $color-red-dark;
    z-index: 30000;
    height: 100%;
    overflow-y: hidden;
    box-shadow: 1px 1px 70px $color-red-dark;
}

.menu-icon {
    font-size: 25px;
    margin-left: 13px;
    z-index: 300000;
    position: fixed;
     :hover {
        color: white;
    }
}

.menu {
    margin-top: 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $white;
    height: 91%;
    font-size: 10px;
    box-shadow: 1px 1px 70px $color-red-dark;
    @media screen and (max-width: 600px) {
        width: 100%;
        height: 100%;
    }
    overflow-y: hidden;
     :hover {
        color: $color-red-dark;
    }
}

.menu-item {
    text-align: center;
    overflow-wrap: wrap;
    font-size: 17px;
    z-index: 300001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.menu-item svg {
    margin-left: 32%;
    color: $color-yellow-dark;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 400ms ease-out;
}

[tooltip]:before {
    position: relative;
    content: attr(tooltip);
    opacity: 0;
    width: 50%;
}

[tooltip]:hover:before {
    opacity: 1;
}

[tooltip]:not([tooltip-persistent]):before {
    color: $color-red-dark;
    font-size: 7px;
    font-weight: 400;
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 1293448;
}

.slider {
    color: green;
}