/* Google Fonts */

.home-page-container {
    margin-top: -9%;
    width: 100%;
    height: 100%;
    text-align: center;
}

.home-page-slider {
    width: 100%;
    height: 100%;
    background-color: $color-yellow-light !important;
}

.home-page-title {
    margin-top: 20%;
    font-size: 3vw;
    text-align: center;
    color: $font-color-white;
    z-index: 1000;
    position: absolute;
    width: 100%;
    // min-width: 100%;
    @media screen and (max-width: 600px) {
        font-size: 4vw;
    }
}

.home-page-title h1 {
    text-shadow: 0px 2px $color-red-dark;
}

.home-icons-container {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    @media screen and (max-width: 600px) {}
    background-color: white;
}

.home-icons {
    margin: 7px;
    opacity: 1;
    border-radius: 25px;
    border: solid 5px white;
    box-shadow: 0px 2px black;
    background-color: $color-red-dark;
}

.home-icons:hover {
    transform: scale(1.1);
    /* Equal to scaleX(0.7) scaleY(0.7) */
    // opacity: 0.7;
    color: $color-yellow-dark;
}

.home-page-sub-title {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 120%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}


/* Animation */

.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

.home-page-title h3 {
    color: $white;
    text-shadow: 0px 2px $color-red-dark;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 18em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}