.login-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.error-container {
    color: red;
    margin-top: 15px;
    text-align: center;
    padding: 15px;
}