.myAccount-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    padding-bottom: 10px;
    justify-content: center;
}

.myAccount-panel {
    background-color: $white;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    opacity: 0.9;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 15px white;
}

.myAccount-panel .form-container {
    width: 100%;
}