.orders-container {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.orders-text {
    margin: 50px;
    text-align: center;
    color: black !important;
}

.order-cards-container {
    @media screen and (max-width: 825px) {
        flex-direction: column;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-y: hidden;
}