.order-item-container {
    align-items: center;
}

.order-item-card {
    // background-color: $font-color-light;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 15px;
}

.user-card-header {
    box-shadow: 0 0 15px white;
}

.order-item-card-body {
    text-align: center
}

.order-item-card-header {
    font-size: 25px;
    text-align: center;
    min-height: 50px;
    margin-top: 20px;
}

.order-item-card-text {
    font-size: 17px;
    text-align: center;
    // color: $font-color-white;
    &.edit {
        opacity: 1;
        margin: 7px;
        padding: 10px;
        border-top: solid 1px $color-yellow-dark;
        &:hover {
            opacity: 0.8;
        }
    }
}

.order-card-extension {
    padding: 3px;
    margin-bottom: 5px;
    max-height: 320px;
    background: $color-red-lighter;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 7px;
    box-shadow: 0px 5px 18px #888888;
}