.order-confirmation-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40%;
}

.order-confirmation-panel {
    background-color: $white;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    opacity: 0.9;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 15px white;
}

.order-confirmation-panel~p {
    color: black !important;
}

.confirm-order-text {
    margin: 20px
}

.confirm-order-list-items {
    flex-direction: column;
    width: 60%;
    height: 40%;
    justify-content: space-around;
}

.confirm-order-buttons-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

.confirm-order-button {
    opacity: 1;
    width: 100%;
    background: $color-primary;
    padding-left: 30px;
    padding-right: 30px;
    color: $white;
    padding: 10px;
    border-top: solid 1px $font-color-base;
    border-radius: 9px;
    margin-top: 5px;
    // margin-bottom: 5px;
}

.confirm-order-button:hover {
    opacity: 0.7;
}