.filters-container {
    width: 100;
    text-align: center;
}

.filters-title {
    text-align: center;
    font-size: 20px;
    color: $black !important;
}

.filters-box {
    color: $font-color-white;
    text-align: center;
    width: 30%;
    height: 100%;
    background-color: $mat-black;
    margin-left: 35%;
    @media screen and (max-width: 600px) {
        width: 100%;
        margin-left: 0;
    }
}

.filterLabel {
    padding: 30p;
}

.text-filter-input {
    margin-bottom: 15px;
}

.button {
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: $s-size;
}