.readmin-form {
    // position: relative;
    // width: 100%;
    // margin-left: 50px;
    padding: 20px;
    &.inline {
        @media (max-width: 560px) {
            .inline-btn {
                margin-top: $margin-medium;
            }
        }
    }
    input {
        width: 60%;
    }
    label {
        margin: 0 !important;
    }
}

.form-container {
    margin-top: 120px;
    background-color: #eeeeee;
    width: 90%;
    min-width: 226px;
    max-width: 540px;
    min-height: 226px;
    box-shadow: 0 0 15px white;
    border-radius: 10px;
}

.col-sm-12 .small {
    margin: 5px;
    width: 50px;
    min-width: 120px;
}