@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
input,
button,
submit {
    border: none;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: $font-color-light;
}

a::selection {
    text-decoration: none;
    color: $font-color-light;
}

.app-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

body {
    font-family: $font-family-primary;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #f1f0f0;
    // background-image: url('https://images.unsplash.com/photo-1504583557080-9d04d0ba1304?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9eff231e0de6a223eb84d177db5122e9&auto=format&fit=crop&w=1500&q=80');
    // background-position: center center;
    // background-repeat: no-repeat;
    background-size: cover;
    // opacity: 0.3;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.labels {
    padding: 10px;
    font-size: $s-size;
}

h1 {
    font-size: 50;
}

.error-container {
    color: red;
    margin-top: 15px;
    text-align: center;
    padding: 15px;
}

.button-primary {
    opacity: 1;
    text-align: center;
    background-color: $color-red-dark !important;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    display: inline-block;
    min-width: 100%;
    height: 35px;
    outline: none;
    &:hover {
        opacity: 0.7;
    }
    margin: 5px;
    border-radius: 10px;
}